@import url('https://fonts.googleapis.com/css?family=Comfortaa');

$accent: #FFFFFF;
$background: #C9CB96;
$error: red;
$success: green;
$primary: #E14E07;
$primaryAlt: #E86A12;

$min-width: 400px;

html,body{
  height: 100%;
  min-width: $min-width;
  width: 100%;
}
body{
  background-color: $background;
  font-family: 'Comfortaa', helvetica;
  font-size: 18px;
}
main{
  padding-top: 50px;
}
form{
  .label{
    font-size: 15px;
    padding: 5px;
  }

  input,select{
    margin-top: 10px;
  }

  fieldset{
    padding: 10px 0;
    span{
      color: $error;
    }
  }
  button{
    span{
      font-weight: 900;
    }
  }   
}
h2{
  color: $primary
}
footer{
  padding: 15px 5px;
  h2{
   color: $accent; 
   margin: 0 auto;
   text-align: center;
  }
  background-color: $primary;
}
#thankyou{
  background-color: white;
  display: none;
  left: 0;
  min-height: 1000%;
  min-width: $min-width;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 9999;
  h2{
    font-size: 40px;
    text-align: center;
  }
  span{
    font-size: 20px;
    text-align: center;
  }
}
#confirm-modal{
  h2{
    text-align: center;
  }
  .modal-body{
    p{
      font-size: 22px;
      text-align: center;
      &.price{
        color: $success;
      }
    }
  }
}
#info{
  .glyphicon{
    font-size: 100px;
    padding-top: 25px;
    text-align: center;
    width: 100%;
  }
  .caption{
    h2{
      text-align: center;
    }
  }
}
#loader{
  background-color: $accent;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1031;
  p{
    font-size: 70px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: loading .5s infinite;
  }
}
#about{
  .bio{
    margin-top: 20px;
    text-align: justify;
  }
  .thumbnail{
    max-width: 263px;
    overflow: hidden;
    padding: 0;
    width: auto;
    .img{
      height: 171px;
      overflow: hidden;
      width: 263px;
    }
    img{
      display: block;
      margin: 0;
      width: 100%;
    }
    .caption{
      text-align: center;
    }
  }
}
#social{
  display: inline;
  ul{
    display: flex;
    justify-content: center;
    padding: 0;
  }
  li{
    display: inline-block;
    padding: 10px;
    img{
      width: 29px;
    }
  }
}
#event{
  .thumbnail{
    height: 393px;
  }
  img{
    object-position: 100% 50%;
    width: 100%;
  }
  .img{
    height: auto;
    overflow: hidden;
    width: 100%;
  }
}
.box{
  border: 2px solid white;
  padding: 2%;
  border-radius: 5px;
  background: #eb7610;
}
.error{
  color: $error;
  font-size: 15px;
  li{
    list-style: circle;
    margin: 5px 0
  }
}
.vid-banner{
  video{
    position: relative;
    width: 100%;
    height: auto;
  }
}
.btn-primary{
  color: $accent;
  background-color: $primary;
  border: 2px solid $accent;
}
.list-group-item{
  background-color: $primaryAlt;
  border: none;
  color: $accent;
}
.label-default{
  background-color: $primary;
  border: 3px solid $accent;
}
.thumbnail{
  background-color: $primary;
  padding: 0;
  border: 2px solid $accent;
  .caption{
    color: $accent;
  }
}
.navbar-default{
  background-color: $primary;
  border-bottom: 2px solid $accent;
  font-size: 18px;
  margin-bottom: 100%;
  .navbar-toggle{
    border-color: $accent;
    .icon-bar{
      background-color: $accent;
    }
  }
  .navbar-brand{
    color: $accent;
    font-size: 28px;
  }
  .navbar-nav{
    li{
      a{
        color: $accent;
      }
    }
  }     
}
.music-player{
  position: relative;
  user-select: none;
  .glyphicon{
    font-size: 300px;
    height: 300px;
    left: 50%;
    opacity: .2;
    padding: 0 0 0 22px;
    position: absolute;
    transform: translateX(-50%);
    transition: .4s ease-in-out;
    width: 300;
    &:hover{
      opacity: 1;
    }
  }
  .list-group{
    max-height: 350px;
    overflow: auto;
  }
  .list-group-item:last-child,.list-group-item:first-child{
    border-radius: unset;
  }
}
.main-section{
  margin: 20px 0;
}
@keyframes loading{
  0%,100%{
    opacity: 1;
  }
  50%{  
    opacity: 0;
  }
}
@media(max-width: 768px) {
  #about{
    .thumbnail{
      max-width: unset;
      width: unset;
      .img{
        height: unset;
        width: inherit;
      }
      img{
        height: unset;
        width: 100%;
      }
    }
  }
  #event{
    .thumbnail{
      height: 393px;
    }
    img{
      object-position: 100% 50%;
      width: 100%;
    }
    .img{
      height: 206px;
      overflow: hidden;
      width: 100%;
    }
  }
}