@import url('https://fonts.googleapis.com/css?family=Comfortaa');

$c1: #FFFFFF;
$c2: #C9CB96;
$c3: red;
$c4: green;
$c5: #E14E07;

html,body{
  height: 100%;
  width: 100%;
}

body{
  background-color: $c2;
  font-family: 'Comfortaa', helvetica;
  font-size: 18px;
}

main{
  padding-top: 50px;
}

form{
  .label{
    font-size: 15px;
  }

  input,select{
    margin-top: 5px;
  }

  fieldset{
    padding: 10px 0;
    span{
      color: $c3;
    }
  }   
}

h2{
  color: $c5
}

#thankyou{
  display: none;
  .message{
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
  }
  h2{
    font-size: 40px;
    text-align: center;
  }
  span{
    font-size: 20px;
    text-align: center;
  }
}

#confirm-modal{
  h2{
    text-align: center;
  }
  .modal-body{
    p{
      font-size: 22px;
      text-align: center;
      &.price{
        color: $c4;
      }
    }
  }
}

#info{
  .glyphicon{
    font-size: 100px;
    text-align: center;
    width: 100%;
  }
  .caption{
    h2{
      text-align: center;
    }
  }
}

#loader{
  background-color: $c1;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1031;
  p{
    font-size: 70px;
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: loading .5s infinite;
  }
}

@keyframes loading{
  0%,100%{
    opacity: 1;
  }
  50%{  
    opacity: 0;
  }
}

.error{
  color: $c3;
  font-size: 15px;
  li{
    list-style: circle;
    margin: 5px 0
  }
}

.vid-banner{
  video{
    position: relative;
    width: 100%;
    height: auto;
  }
}

.btn-primary{
  color: $c1;
  background-color: $c5;
  border: 2px solid $c1;
}

.list-group-item {
  background-color: transparent;
  border: 1px solid $c1;
  color: $c1;
}

.label-default {
  background-color: $c5;
  border: 2px solid $c1;
}

.thumbnail{
  background-color: $c5;
  border: 2px solid $c1;
  .caption{
    color: $c1;
  }
}

.navbar-default{
  background-color: $c5;
  border-bottom: 2px solid $c1;
  font-size: 18px;
  margin-bottom: 100%;
  .navbar-toggle{
    border-color: $c1;
    .icon-bar{
      background-color: $c1;
    }
  }
  .navbar-brand{
    color: $c1;
    font-size: 28px;
  }
  .navbar-nav{
    li{
      a{
        color: $c1;
      }
    }
  }     
}

.music-player{
  position: relative;
  user-select: none;
  .glyphicon{
    font-size: 300px;
    height: 300px;
    left: 50%;
    opacity: .2;
    padding: 0 0 0 22px;
    position: absolute;
    transform: translateX(-50%);
    transition: .4s ease-in-out;
    width: 300;
    &:hover{
      opacity: 1;
    }
  }
  .list-group{
    max-height: 350px;
    overflow: auto;
  }
}

.main-section{
  margin: 20px 0;
}

#about{
  .bio{
    margin-top: 20px;
    text-align: justify;
  }
  .thumbnail{
    max-width: 263px;
    padding: 0;
    width: auto;
    img{
      display: block;
      margin: 0;
      max-width: 259px;
      max-height: 194px;
      width: 263px;
      height: 171px;
    }
    .caption{
      text-align: center;
    }
  }
}

footer{
  background-color: $c5;
  margin-top: 20px;
  h2{
    color: $c1;
    text-align: center;
  }
  ul{
    display: flex;
    justify-content: center;
  }
  li{
    display: inline-block;
    padding: 10px;
    img{
      width: 29px;
    }
  }
}