<!-- About -->
<section id="about" class="main-section">
  <div class="container" data-ng-controller="memberList">
    <h2>About</h2>
    <div class="row">
      <p class="col-xs-12" data-ng-repeat="item2 in data[0]">{{item2.desc}}</p>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4" data-ng-repeat="item in data[1]">
        <div class="thumbnail">
          <img class="img-rounded" data-ng-src="{{item.img}}" alt="{{item.name}}">
          <div class="caption">
            <h3>{{item.name}}</h3>
            <p>{{item.desc}}</p>
          </div>
        </div>
      </div>
    </div>
  </div> 
</section>

<!-- Music -->
<section id="music" class="main-section" data-ng-controller="audioCtl">
  <div class="container">
    <h2 class="title">Music</h2>
    <div class="row">
      <div class="music-player col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="thumbnail">
          <img class="cover-art" data-ng-src="{{cover}}" alt="{{title}}">
          <i class="glyphicon" data-ng-click="playback()" aria-hidden="true"></i>
          <div class="caption">
            <h3>{{playing}}</h3>
            <!-- <p>{{item.desc}}</p> -->
          </div>
            <ul class="list-group">
              <li  class="list-group-item" data-ng-repeat="(id,item) in data" data-ng-click="playback(id)">{{item.title}}</li>
            </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Event -->
<section id="event" class="main-section" data-ng-controller='event'>
  <div class="container">
    <h1 class="title">Upcoming Events</h1>
    <div class="row">
      <div class="col-sm-6 col-md-4"  data-ng-repeat='event in data'>
        <div class="thumbnail" >
          <img class="img-rounded" data-ng-src="{{event.img}}" alt="{{event.city}}">
          <div class="caption">
            <h2 class="subtitle">{{event.loc}} on {{event.date}}</h2>
            <p>{{event.desc}}</p>
          </div>
        </div>
      </div>
        
    </div>
  </div>
</section>

