<body data-ng-app='app'>  
  <div id="loader"><p>LOADING</p></div>
  <nav id="site-nav" class="navbar navbar-default navbar-fixed-top" data-ng-controller='navbarCtrl'>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navlinks">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">{{brand.text}}</a>
      </div>
      <div class="collapse navbar-collapse" id="navlinks">
        <ul class="nav navbar-nav navbar-right">
          <li data-ng-repeat='item in data'><a href="{{item.href}}">{{item.content}}</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <main data-ng-view>
    
  </main>
  <footer data-ng-controller='socialCtrl'>
    <div class="container">
      <h2 id='social'>Follow us</h2>
      <ul>
        <li data-ng-repeat='item in data'><a data-ng-href="{{item.link}}"><img data-ng-src="{{item.icon}}" alt="{{item.alt}}"></a></li>
      </ul>
    </div>
  </footer>